[submodule "third-party/FTXUI"]
	path = third-party/FTXUI
	url = git@github.com:ArthurSonzogni/FTXUI.git

[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = git@github.com:gabime/spdlog.git
