[submodule "third-party/FTXUI"]
	path = third-party/FTXUI
	url = git@github.com:ArthurSonzogni/FTXUI.git

[submodule "third-party/Catch2"]
	path = third-party/Catch2
	url = https://github.com/catchorg/Catch2.git
